
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    width: 100%;
    margin: 0;
}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}
.section{
    padding: 120px 0;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    margin-top: 24px;
    margin-left: 156px;
    margin-bottom: 24px;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}
.header-logo {
    margin-right: 76px;
}
.header-nav{
    display: flex;
    align-items: center;
    gap: 76px;
    margin-top: 24px;
        margin-right: 156px;
        margin-bottom: 24px;
    }
.list-nav{
    display: flex;
    gap: 40px;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}
.link-nav{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
}
.contacts{
    font-style: normal;
}
.contacts-list{
    display: flex;
        gap: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
}
.contacts-link{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
            gap: 40px;
}
.contacts-link:hover,
.contacts-link:focus,
.link-nav:hover,
.link-nav:focus {
    color: #404bbf;
}

.main-text{
    background-color: #2e2f42;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
.section-hero{
    background-color: #2e2f42;
        height: 600px;
        padding: 188px 0;
        text-align: center;

}
.hero-title{
    max-width: 496px;
        margin: 0 auto 48px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;;
}
.hero-button{
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
}
.hero-button:hover,
.hero-button:focus{
    background-color: #404bbf;
    color: #fff;
}
.page-footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container{
    max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
}
.footer-logo .logo-part {
    color: #f4f4fd;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text{
        font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            max-width: 264px;
            margin: 0;
}
.section-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.section-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team-heading{
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}
.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
        text-align: center;
        padding-bottom: 20px;
}
 .team-list{
    display: flex;
        gap: 24px;
        justify-content: center;
 }
 .team-card{
    padding: 32px 0;
 }
 .team-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
        margin-bottom: 8px;
 }
 .team-text {
     font-size: 16px;
     line-height: 1.5;
     color: #434455;
 }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features{
    padding: 120px 0;
}
.features-list{
    display: flex;
    gap: 24px;
}
.features-item{
    flex-basis: calc((100% - 72px) / 4);
}
.features-title{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.features-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.container-team{
    max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
}
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-card {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    background-color: #ffffff;
    border-top: none;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    /* ✅ робимо посилання "напівблоком" */
    margin-bottom: 16px;
    /* ✅ відступ від тексту */
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
}